beautifulsoup4==4.9.3
vk-api
xlrd==1.2.0
Sphinx==3.5.3
PyMySQL==1.0.2
cryptography==3.4.7
peewee==3.14.4
pyinstaller==4.0
SpeechRecognition==3.8.1
colorama~=0.4.4
requests~=2.25.1
dateparser~=1.0.0
python-dateutil~=2.8.1